.nombre {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border: none;
    font: normal 21px/1 "Times New Roman", Times, serif;
    color: rgba(255,255,255,1);
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
  }
  

  div.steelBlueCols {
    font-family: "Times New Roman", Times, serif;
    border: 3px solid #555555;
    background-color: #555555;
    width: 300px;
    height: 150px;
    text-align: left;
    border-collapse: collapse;
  }
  .divTable.steelBlueCols .divTableCell, .divTable.steelBlueCols .divTableHead {
    border: 1px solid #000000;
    padding: 4px 2px;
  }
  .divTable.steelBlueCols .divTableBody .divTableCell {
    font-size: 11px;
    font-weight: bold;
    color: #FFFFFF;
  }
  .divTable.steelBlueCols .divTableRow:nth-child(even) {
    background: #6F6F6F;
  }
  .steelBlueCols .tableFootStyle {
    font-size: 12px;
  }
  .steelBlueCols .tableFootStyle .links {
     text-align: right;
  }
  .steelBlueCols .tableFootStyle .links a{
    display: inline-block;
    background: #FFFFFF;
    color: #398AA4;
    padding: 2px 8px;
    border-radius: 5px;
  }
  .steelBlueCols.outerTableFooter {
    border-top: none;
  }
  .steelBlueCols.outerTableFooter .tableFootStyle {
    padding: 3px 5px; 
  }
  /* DivTable.com */
  .divTable{ display: table; }
  .divTableRow { display: table-row; }
  .divTableHeading { display: table-header-group;}
  .divTableCell, .divTableHead { display: table-cell;}
  .divTableHeading { display: table-header-group;}
  .divTableFoot { display: table-footer-group;}
  .divTableBody { display: table-row-group;}
  