<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Informacion
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-title size="large">prueba</ion-title>
  <ion-header collapse="condense">
    <Br><ion-title size="large">Curriculum</ion-title> <br>
  </ion-header>
  <ion-toolbar >
    <ion-img src="../../assets/img/BryanH.jpg"  style="width: 90%; height: 120;  align-content: center; display:block; margin-top:5px; margin-left:5%" ></ion-img>
    <div class="nombre">Bryan Steven Hidalgo Cuesta</div>
    <ion-grid style="margin-left: -3%">
      
      <div class="divTable steelBlueCols">
        <div class="divTableBody">
          <div class="divTableRow">
            <div class="divTableCell">Nacionalidad:</div><div class="divTableCell">Ecuatoriano</div>
          </div>
          <div class="divTableRow">
            <div class="divTableCell">Fecha de nacimiento:</div><div class="divTableCell">23 Abril 1999</div>
          </div>
          <div class="divTableRow">
            <div class="divTableCell">Género:</div><div class="divTableCell">Masculino</div>
          </div>
          <div class="divTableRow">
            <div class="divTableCell">Estado Civil:</div><div class="divTableCell">Soltero</div>
          </div>
          <div class="divTableRow">
            <div class="divTableCell">Documento:</div><div class="divTableCell">0954141008</div>
          </div>
          <div class="divTableRow">
            <div class="divTableCell">Licencia de conducir:</div><div class="divTableCell">Si</div>
          </div>
        </div>

      </div>
        
    </ion-grid> 
    


  </ion-toolbar>

  <app-explore-container name="Informacion"></app-explore-container>
</ion-content>
