<ion-header [translucent]="true">
 
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-text color="white" class="style-txt">
    <p>  Presentacion de App de banderas </p> 
    <p>  Iniciar! </p> 
  </ion-text>
  <ion-button color="medium" expand="block" [routerLink]= "['/country']">Check countries</ion-button>
</ion-content>
