<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="informacion">
      <ion-icon name="alert-circle-outline"></ion-icon>
      <ion-label>Información</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="titulos">
      <ion-icon name="newspaper-outline"></ion-icon>
      <ion-label>títulos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="contactos">
      <ion-icon name="call-outline"></ion-icon>
      <ion-label>Contactos</ion-label>
    </ion-tab-button>


  </ion-tab-bar>

</ion-tabs>
