<ion-header>
  <ion-toolbar>
    <ion-title>Users</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home">

      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style="margin-left: -5%">
    <ion-row>
      <ion-col sizeMd="6" offsetMd="3">
        <ion-list>
          <ion-item *ngFor="let character of characters">  <!--- ngFor  recorre uno por uno un arreglo -->
            <ion-avatar slot="end"> 
              <ion-img src="{{character.flags.png}}"  ></ion-img>
            </ion-avatar>
            <ion-label> 
              <p> Nombre del pais: {{character.name.common}} </p>   
              <p>Capital: {{character.capital}} </p>
            </ion-label>
          </ion-item> 
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
