<ion-header>
  <ion-toolbar>
    <ion-title>Information</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="country">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style="margin-left: -5%">
    <ion-row>
      <ion-col sizeMd="6" offsetMd="3">
        <ion-list>
          <ion-item *ngFor="let pais of paises">  <!--- ngFor  recorre uno por uno un arreglo -->
            
            <ion-avatar slot="end"> 
              <ion-img src="{{pais.coatOfArms.png}}" ></ion-img>
            </ion-avatar>
            <ion-label > 
              <ion-text color="white" class="style-txt-country">
                <p>  {{pais.name.official}} </p> 
              </ion-text>
              <ion-text color="white" class="style-txt-datos">
                <p> Capital: {{pais.capital}} </p> 
              </ion-text>
              <ion-text color="secondary" class="style-txt-datos">
                <p> Region: {{pais.region}} </p>  
              </ion-text>
              <ion-text color="secondary" class="style-txt-datos">
                <p>Ubicacion: <a href="{{pais.maps.googleMaps}}" target="_blank" title="Ubicación"> Ingresa aqui! </a> </p> 
              </ion-text>
            </ion-label>
          </ion-item> 
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
