<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-button [routerLink]= "['/country']">
        Home
      </ion-button>
    </ion-buttons>
    <ion-title>Date of the country</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col sizeMd="6" offsetMd="3" >
        <div *ngFor = "let pais of paises" class ="ion-text-center">
          <ion-card>
            <ion-card-content>
              <img src="{{pais.coatOfArms.png}}" alt="" >
              <ion-card-title>
                {{pais.name.common}}
              </ion-card-title>
              <p>Nombre oficial: {{pais.name.official}} </p>
              <p>Capital: {{pais.capital}} </p>
              <ion-button color="medium" expand="block"  href="{{pais.maps.googleMaps}}" target="_blank">Mostrar  en mapa</ion-button>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
