<ion-header>
  <ion-toolbar>
    <ion-title>profile</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="userlist">

      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col sizeMd="6" offsetMd="3" >
        <div *ngIf = "character" class ="ion-text-center">
          <ion-card>
            <ion-card-content>
              <img src="{{character.flags.png}}" alt="" >
              <ion-card-title>
                {{character.name.common}}
              </ion-card-title>
              <p>{{character.name.official}}</p>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
