.img{
    border-radius: 8%;
    height: 100%;
}
.style-txt-country {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border: none;
    font: normal normal bold 18px/1 "Platino linotype", Times, serif;
    color: hsl(0, 0%, 100%);
    -o-text-overflow: ellipsis;
    text-align: left;
    text-overflow: ellipsis;
  }
  .style-txt-datos{
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border: none;
    font: normal 76px/1 "Tahoma", Times, serif;
    color: hsl(0, 0%, 100%);
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
  }