<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-button [routerLink]= "['/home']">
        Home
      </ion-button>
    </ion-buttons>
    <ion-title>Countries</ion-title>
    <ion-buttons slot="end" >
      <ion-button [routerLink]= "['/datos']">
        Region
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="white">
  <ion-grid style="margin-left: -5%">
    <ion-row>
      <ion-col sizeMd="6" offsetMd="3">
        <ion-list>
          <ion-item *ngFor="let pais of paises" [routerLink]= "['/dato-pais/' +pais.capital]">  <!--- ngFor  recorre uno por uno un arreglo -->
            <ion-avatar slot="end"> 
              <ion-img src="{{pais.flags.png}}"  class="img"></ion-img>
            </ion-avatar>
            <ion-label> 
              <p class="style-txt-country"> {{pais.name.common}} </p>   
            </ion-label>
          </ion-item> 
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
