<ion-header [translucent]="true">
  <Br><Br><Br><ion-title class="titulos" style="margin-left: -25%;">Títulos y conocimientos</ion-title>
</ion-header>

<ion-content [fullscreen]="true">
  <Br><ion-title class="titulos2" style="margin-left: -25%;margin-top:-200px;">Formación academica</ion-title> <br>
    <ion-toolbar >
      <ion-grid style="margin-left: -3%">
        <div class="divTable steelBlueCols">
          <div class="divTableHeading">
          <div class="divTableRow">
          <div class="divTableHead">Educación secundaria</div>
          </div>
          </div>
          <div class="divTableBody">
          <div class="divTableRow">
          <div class="divTableCell">Academia Naval Almirante Illingworth</div>
          </div>
          <div class="divTableRow">
          <div class="divTableCell">Bachillerato en sistemas de información</div>
          </div>
          <div class="divTableRow">
          <div class="divTableCell">Finalizadov-2017</div>
          </div>
          </div>
          </div>

        <div class="divTable steelBlueCols">
          <div class="divTableHeading">
          <div class="divTableRow">
          <div class="divTableHead">Educación superior</div>
          </div>
          </div>
          <div class="divTableBody">
          <div class="divTableRow">
          <div class="divTableCell">Ingeniero en sistemas</div>
          </div>
          <div class="divTableRow">
          <div class="divTableCell">Universidad de guayaquil</div>
          </div>
          <div class="divTableRow">
          <div class="divTableCell">Universitario - En curso</div>
          </div>
          <div class="divTableRow">
          <div class="divTableCell">Dic 2021 - Actualidad, Ecuador</div>
          </div>
          </div>
          </div>

          <div class="divTable steelBlueCols">
            <div class="divTableHeading">
            <div class="divTableRow">
            <div class="divTableHead">Conocimientos y Habilidades</div>
            </div>
            </div>
            <div class="divTableBody">
            <div class="divTableRow">
            <div class="divTableCell">Java - Intermedio</div>
            </div>
            <div class="divTableRow">
            <div class="divTableCell">Python - Básico</div>
            </div>
            <div class="divTableRow">
            <div class="divTableCell">Microsoft Excel - Intermedio</div>
            </div>
            <div class="divTableRow">
            <div class="divTableCell">Microsoft Word - Avanzado</div>
            </div>
            </div>
            </div>
        </ion-grid>
      </ion-toolbar>

  <app-explore-container name="titulos"></app-explore-container>
</ion-content>

