<ion-header>
  <ion-toolbar>
    <ion-title>contactos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar>
    <ion-grid style="margin-left: -3%">
      <div class="divTable steelBlueCols">
        <div class="divTableHeading">
        <div class="divTableRow">
        <div class="divTableHead">Datos de contacto</div>
        </div>
        </div>
        <div class="divTableBody">
        <div class="divTableRow">
        <div class="divTableCell">+593 990058259</div>
        </div>
        <div class="divTableRow">
        <div class="divTableCell">stevenhidalgo_10@hotmail.com</div>
        </div>
        <div class="divTableRow">
        <div class="divTableCell">Hidalgocuesta21@gmail.com</div>
        </div>
        <div class="divTableRow">
        <div class="divTableCell">Guayaquil, Guayaquil, Guayas, Ecuador</div>
        </div>
        </div>
        </div>

        <div class="divTable steelBlueCols">
          <div class="divTableHeading">
          <div class="divTableRow">
          <div class="divTableHead">Datos de referencia</div>
          </div>
          </div>
          <div class="divTableBody">
          <div class="divTableRow">
          <div class="divTableCell">Andrea Cuesta</div>
          </div>
          <div class="divTableRow">
          <div class="divTableCell">+593 90087639</div>
          </div>
          <div class="divTableRow">
          <div class="divTableCell">AndreaA@gmail.com</div>
          </div>

          <div class="divTableRow">
            <div class="divTableCell">Jorge Caicedo</div>
            </div>
            <div class="divTableRow">
            <div class="divTableCell">+593 998853940</div>
            </div>
            <div class="divTableRow">
            <div class="divTableCell">CaicedoJ@gmail.com</div>
            </div>
          </div>
          </div>
    </ion-grid>
  </ion-toolbar>

</ion-content>
