div.steelBlueCols {
  font-family: "Times New Roman", Times, serif;
  border: 4px solid #FFFFFF;
  background-color: #FFFFFF;
  width: 400px;
  text-align: left;
  border-collapse: collapse;
}
.divTable.steelBlueCols .divTableCell, .divTable.steelBlueCols .divTableHead {
  border: 1px solid #FFFFFF;
  padding: 5px 10px;
}
.divTable.steelBlueCols .divTableBody .divTableCell {
  font-size: 12px;
  font-weight: bold;
  color: #5C5C5C;
}
.divTable.steelBlueCols .divTableCell:nth-child(even) {
  background: #398AA4;
}
.divTable.steelBlueCols .divTableHeading {
  background: #FFFFFF;
  border-bottom: 2px solid #909090;
}
.divTable.steelBlueCols .divTableHeading .divTableHead {
  font-size: 15px;
  font-weight: bold;
  color: #4DD5FF;
  text-align: left;
}
.steelBlueCols .tableFootStyle {
  font-size: 13px;
}
.steelBlueCols .tableFootStyle .links {
	 text-align: right;
}
.steelBlueCols .tableFootStyle .links a{
  display: inline-block;
  background: #FFFFFF;
  color: #398AA4;
  padding: 2px 8px;
  border-radius: 5px;
}
.steelBlueCols.outerTableFooter {
  border-top: none;
}
.steelBlueCols.outerTableFooter .tableFootStyle {
  padding: 3px 5px; 
}
/* DivTable.com */
.divTable{ display: table; }
.divTableRow { display: table-row; }
.divTableHeading { display: table-header-group;}
.divTableCell, .divTableHead { display: table-cell;}
.divTableHeading { display: table-header-group;}
.divTableFoot { display: table-footer-group;}
.divTableBody { display: table-row-group;}